[user]
    name = <usr_name>
    email = <my_email>

[core]
    excludesfile = ~/.global_ignore
    autocrlf = input

[color]
    ui = true

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
