[user]
    name = Karol Duleba
    email = mr.fuxi@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    editor = vim

[color]
    ui = true

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch

[push]
    default = simple
